@font-face {
font-family: 'PFDinTextCompPro';
src: url('fonts/pfdintextcomppro-regular.woff2') format('woff2');
}
@font-face {
font-family: 'RobotoCondensed';
src: url('fonts/Roboto-Condensed-Regular.woff2') format('woff2');
}

*,*:before,*:after {  
box-sizing: border-box;
}
body {
width: 1366px;
margin: 0px auto;
background-color: rgb(252, 252, 252);
font-family: "PFDinTextCompPro";
}
.artboard {
display: inline-flex;
border: 1px solid rgb(127,127,127);
}
.Menu {
width: 173px;
background-color: rgb(47, 48, 50);
font-size: 14px;
color: rgb(239, 239, 239);
text-align: center;
align-self: stretch;
}
.Menu img:first-of-type {
margin-top: 35px;
width: 64px;
height: 40px;
}
.Menu ul {
padding: 0px;
margin: 35px 0px 277px 0px;
}
.Menu li {
line-height: 2.571;
list-style: none;
height: 36px;
position: relative;
}
.Menu li:hover {
cursor: pointer;
color: rgb(255, 255, 255);
background-color: rgb(37, 38, 40);
}
.Menu li:hover::before {
content: "";
position: absolute;
left: 0px;
top: 0px;
bottom: 0px;
width: 4px;
background-color: rgb(217, 190, 143);
}
.Menu div {
margin-bottom: 22px;
}
.Menu input[type=radio] {
display: none;
}
.Menu input[type=radio]:checked + label {
color: rgb(115, 115, 115);
}
.Menu label {
cursor: pointer;
}
.Menu label:first-of-type {
margin-right: 5px;
}
header {
height: 42px;
display: flex;
justify-content: space-between;
align-items: flex-end;
flex-wrap: nowrap;
margin: 0px 47px;
}
header div {
margin-right: 26px;
}
header div>img:first-of-type {
margin-right: 37px;
}
.News {
margin: 0px 47px;
display: inline-block;
}
.News>img {
width: 1096px;
height: 47px;
}
section:nth-of-type(1) {
margin-bottom: 20px;
}
section:nth-of-type(2) {
margin-bottom: 36px;
}
section h1 {
font-size: 30px;
color: rgb(91, 91, 91);
margin: 10px 0px;
text-align: center;
font-weight: 500;
line-height: 1.0;
}
section:nth-of-type(2) h1 {
margin: 15px 0px 18px 0px;
}
section:nth-of-type(3) h1:first-of-type {
margin: 10px 0px 42px 0px;
}
section:nth-of-type(3) h1:last-of-type {
margin: 47px 0px 30px 0px;
}
section ul {
padding: 0px;
margin: 11px 0px;
}
section:nth-child(1) ul li {
height: 33px;
font-size: 14px;
border: 1px solid rgb(222, 222, 222);
}
.opts {
display: inline-block;
}
.opts>li {
list-style: none;
padding: 0px 14px;
display: inline-flex;
justify-content: space-between;
width: 154px;
align-items: center;
}
.opts>li:nth-of-type(n+3) {
color: rgb(151, 151, 151);
}
.opts label>span {
vertical-align: text-bottom;
}
.opts label>span:after {
content: url("images/PNG/down-arrow-2.png");
}
.opts label, .mlist {
cursor: pointer;
}
.opts>li:not(:last-of-type) { 
border-right: 0px;
}
.opts>li:last-of-type {
width: 155px;
}
.opts>li>input{
display: none;
}
.opts>li>input:checked ~ ul {
display: block;
}
.mlist {
box-shadow: 0 0 5px rgb(0 0 0 / 15%);
background-color: rgb(252, 252, 252);
position: absolute;
padding: 0px;
width: 155px;
margin: 31px 0px 0px -16px;
display: none;
align-self: flex-start;
}
.mlist li {
list-style: none;
margin: 0px;
padding: 0px 15px;
line-height: 33px;
border: 1px solid rgb(222, 222, 222);
border-top: 0px;
}
.mlist li:not(:last-of-type) {
border-bottom: 0px;
}
.optsAdd {
float: right;
vertical-align: middle;
}
.optsAdd li {
display: inline-block;
list-style: none;
text-align: center;
vertical-align: middle;
}
.optsAdd li:first-of-type {
margin-right: 10px;
padding-right: 12px;
width: 142px;
line-height: 31px;
cursor: pointer;
}
.optsAdd li>input {
font: inherit;
border: 0px;
color: rgb(255, 255, 255);
background-color: rgb(199, 176, 132);
width: 133px;
cursor: pointer;
height: 100%;
}
.optsAdd li>input:hover {
mix-blend-mode: luminosity;
}
.content {
margin-top: 3px;
font-size: 19px;
display: grid;
gap: 10px;
grid-template-areas: "c1 c1 c2 c2"
 "c3 c3 c4 c5"
 "c6 c7 c8 c8";
grid-template-rows: 409px repeat(2, 267px);
grid-template-columns: repeat(4, 267px);
object-fit: cover;
}
.content>div {
background-repeat: no-repeat;
color: rgb(51, 51, 51);
display: inline-flex;
align-items: flex-start;
justify-content: left;
flex-direction: column;
}
.content>div b {
font-size: 36px;
}
.content>div span {
background-color: rgb(255, 255, 255);
}
.content>div:nth-child(-n+2){
font-size: 16px;
color: rgb(255, 255, 255);
text-align: center;
justify-content: center;
align-items: center;
}
.content>div:nth-child(1) {
grid-area: c1;
background-image: url("images/PNG/Прямоугольник_11.png");
}
.content>div:nth-child(2) {
grid-area: c2;
background-image: url("images/PNG/Прямоугольник_1.png");
}
.content>div:nth-child(3) {
grid-area: c3;
background-image: url("images/PNG/2_копия_5.png");
padding: 10px 0px 0px 12px;
}
.content>div:nth-child(3)>span {
padding: 4px 12px;
}
.content>div:nth-child(3)::before {
background-color: rgb(47, 48, 50);
width: 156px;
height: 6px;
content: "";
}
.content>div:nth-child(4) {
grid-area: c4;
background-image: url("images/PNG/ФОТО_копия.png");
padding: 9px 0px 0px 9px;
}
.content>div:nth-child(4)::before {
background-color: rgb(47, 48, 50);
color: rgb(255, 255, 255);
width: 121px;
line-height: 31px;
content: "\00a0\00a0\00a0ПОЛЕЗНОЕ";
padding-right: 17px;
text-align: right;
}
.content>div:nth-child(4)>span:first-of-type::before {
content: url('images/PNG/1489097762_food-drink-01.png');
margin: -33px 0px 0px 3px;
position: absolute;
}
.content>div:nth-child(4)>span {
padding: 8px 12px 8px 7px;
line-height: 0.8;
}
.content>div:nth-child(4)>span:last-of-type {
padding: 0px 10px 7px 7px;
}
.content>div:nth-child(5) {
grid-area: c5;
background-image: url("images/PNG/ФОТО_копия_2.png");
padding: 12px 0px 0px 12px;
}
.content>div:nth-child(5)>span {
padding: 7px 8px 7px 10px;
line-height: 1.0;
}
.content>div:nth-child(5)::before {
background-color: rgb(47, 48, 50);
width: 108px;
height: 6px;
content: "";
}
.content>div:nth-child(6) {
grid-area: c6;
background-image: url("images/PNG/ФОТО_копия1.png");
padding: 12px 0px 0px 12px;
}
.content>div:nth-child(6)>span {
padding: 7px 8px 7px 10px;
line-height: 1.0;
}
.content>div:nth-child(6)::before {
background-color: rgb(47, 48, 50);
width: 86px;
height: 6px;
content: "";
}
.content>div:nth-child(7) {
grid-area: c7;
background-image: url("images/PNG/ФОТО_копия_2-1.png");
padding: 12px 0px 0px 12px;
}
.content>div:nth-child(7)>span {
padding: 8px 7px;
line-height: 0.5;
}
.content>div:nth-child(7)::before {
background-color: rgb(47, 48, 50);
width: 108px;
height: 6px;
content: "";
}
.content>div:nth-child(8) {
grid-area: c8;
background-image: url("images/PNG/2_копия_511.png");
padding: 12px 0px 0px 12px;
}
.content>div:nth-child(8)>span {
padding: 7px 8px 7px 10px;
line-height: 1.0;
}
.content>div:nth-child(8)::before {
background-color: rgb(47, 48, 50);
width: 156px;
height: 6px;
content: "";
}
section:nth-child(2)>form {
text-align: center;
}
.opts2 {
font-size: 16px;
border-radius: 30px;
display: inline-block;
background-color: rgb(241, 241, 241);
height: 35px;
margin: 11px 0px 29px 0px;
}
.opts2>li {
list-style: none;
color: rgb(91, 91, 91);
width: 137px;
line-height: 35px;
display: inline-block;
text-align: center;
}
.opts2>li:hover {
color: rgb(241, 241, 241);
background-color: rgb(47, 48, 50);
cursor: pointer;
border-radius: 30px;
}
.content2 {
display: grid;
gap: 8px;
grid-template-rows: repeat(5, 270px);
grid-template-columns: repeat(2, 543px);
object-fit: cover;
}
.content2>div:not(.photo) {
border: 2px solid rgb(242, 242, 242);
font-size: 16px;
text-align: center;
}
.photo {
height: 100%;
width: 268px;
float: left;
position: relative;
overflow: hidden;
text-align: left;
}
.photo div {
position: absolute;
left: 13px;
bottom: 9px;
color: rgb(188, 188, 188);
}
.photo div>img {
margin-right: 10px;
vertical-align: middle;
}
.content2 h2 {
margin: 14px 0px 0px 0px;
color: rgb(61, 61, 61);
line-height: 1.0;
overflow: hidden;
padding: 0px 6px;
height: 74px;
}
.content2 p {
padding: 15px 10px 0px 10px;
text-align: left;
margin: 0px;
line-height: 1.0;
color: rgb(91, 91, 91);
overflow: hidden;
height: 105px;
}
.cardft {
border-top: 2px solid rgb(242, 242, 242);
height: 38px;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: nowrap;
}
.cardft>div img {
width: 19px;
height: 17px;
vertical-align: middle;
margin: 0px 8px 0px 18px;
}
.cardft img+span {
font-size: 13px;
font-family: "RobotoCondensed";
color: rgb(155, 155, 155);
}
.cardft>img {
width: 77px;
height: 15px;
margin-right: 25px;
}
.specs {
font-size: 14px;
margin: 0px;
}
.specs>li {
list-style: none;
display: inline-block;
border: 1px solid rgb(232, 232, 232);
width: 80px;
line-height: 27px;
border-radius: 12px;
color: rgb(181, 144, 78);
}
.specs li:not(:last-of-type) {
margin-right: 7px;
}
.specs>li>img{
margin-right: 7px;
vertical-align: text-bottom;
width: 17px;
height: 17px;
}
.content3 {
display: grid;
gap: 10px;
grid-template-rows: 427px;
grid-template-columns: repeat(4, 267px);
object-fit: cover;
font-size: 30px;
}
.content3>div {
display: inline-flex;
justify-content: center;
align-items: flex-end;
color: rgb(240, 240, 240);
padding-bottom: 36px;
background-repeat: no-repeat;
}
.content3>div:nth-child(1) {
background-image: url("images/PNG/4_копия_14.png");
}
.content3>div:nth-child(2) {
background-image: url("images/PNG/4_копия_17.png");
}
.content3>div:nth-child(3) {
background-image: url("images/PNG/4_копия_16.png");
}
.content3>div:nth-child(4) {
background-image: url("images/PNG/4_копия_15.png");
}
section:nth-of-type(3) {
text-align: center;
}
.content3>img {
width: 905px;
height: 58px;
display: block;
margin: 0px auto;
}
footer {
background-color: rgb(232, 232, 232);
text-align: center;
margin-top: 18px;
}
footer>div:first-of-type {
font-size: 14px;
color: rgb(37, 38, 39);
padding-top: 19px;
height: 126px;
}
footer input {
font-family: inherit;
font-size: 12px;
color: rgb(167, 167, 167);
border: none;
background-color: rgb(252, 252, 252);
padding-left: 17px;
outline: none;
margin-top: 13px;
width: 319px;
height: 30px;
vertical-align: bottom;
}
footer ::placeholder {
color: rgb(167, 167, 167);
opacity: 1.0;
}
.subbutton {
background-color: rgb(47, 48, 50);
width: 30px;
height: 30px;
border: none;
cursor: pointer;
text-align: center;
padding-right: 2px;
}
.subbutton img {
vertical-align: middle;
}
footer>div:last-of-type {
background-color: rgb(37, 38, 39);
height: 61px;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: nowrap;
padding: 0px 47px;
}
.pars {
font-size: 13px;
color: rgb(148, 148, 148);
padding: 0px;
}
.pars li {
list-style: none;
cursor: pointer;
margin-right: 26px;
display: inline-block;
}